In [1]:
import pandas as pd

# Load the Excel file
file_path = 'a23_final.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows of the dataframe
data.head()

    Estado  ... Valor Aprovado do procedimento
0  Alagoas  ...                           2.81
1  Alagoas  ...                           2.81
2  Alagoas  ...                           2.81
3  Alagoas  ...                           2.81
4  Alagoas  ...                           2.81

[5 rows x 22 columns]

In [2]:
# Generating a summary for the dataset

# Summary statistics for numerical columns
numerical_summary = data.describe()

# Counts for categorical columns
categorical_summary = data.describe(include=['O'])

numerical_summary

       Data de Processamento / Movimento (AAAAMM)  ...  Valor Aprovado do procedimento
count                                   40.000000  ...                       40.000000
mean                                 10115.050000  ...                       33.018500
std                                  44652.165578  ...                       79.930243
min                                      0.000000  ...                        0.000000
25%                                      0.000000  ...                        2.810000
50%                                      0.000000  ...                        2.810000
75%                                      0.000000  ...                       11.000000
max                                 202301.000000  ...                      268.750000

[8 rows x 8 columns]

In [3]:
categorical_summary

         Estado  ... Indica se o município de residência do paciente é diferente do município de localização do estabelecimento
count        40  ...                                                 40
unique        6  ...                                                  2
top     Alagoas  ...                                    mesmo município
freq         19  ...                                                 33

[4 rows x 14 columns]

In [4]:
# Selecting specified rows and columns from the numerical summary
selected_rows = ['count', 'mean', 'min', 'max']
selected_columns = [
    'Idade do paciente em anos',
    'Quantidade Produzida (APRESENTADA)',
    'Quantidade Aprovada do procedimento',
    'Valor Produzido (APRESENTADO)',
    'Valor Aprovado do procedimento'
]

# This approach ensures compatibility with the pandas version used here
summary_selected_str = summary_selected.astype(str)  # Convert all to string to ensure replacement works

# Replace dot with comma for the entire DataFrame
summary_selected_str_comma = summary_selected_str.applymap(lambda x: x.replace('.', ','))

# Exporting to CSV
summary_selected_str_comma.to_csv('csv_a23/a23_summary_numerics.csv', index=True)

NameError: name 'summary_selected' is not defined

In [ ]:
categorical_summary

In [ ]:
# This approach ensures compatibility with the pandas version used here
cat_summary_selected_str = categorical_summary.astype(str)  # Convert all to string to ensure replacement works

# Replace dot with comma for the entire DataFrame
cat_summary_selected_str_comma = cat_summary_selected_str.applymap(lambda x: x.replace('.', ','))

# Exporting to CSV
cat_summary_selected_str_comma.to_csv('csv_a23/a23_summary_cat.csv', index=True)

cat_summary_selected_str_comma