## Converting all the PA Codes

### Reading the file

In [1]:
import csv

file_path = 'csv/códigos_pa.txt'  
output_csv_path = 'csv/codigos_pa.csv' 

# Reading the content of the uploaded file
with open(file_path, 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Preparing data for CSV format
csv_data = [line.strip().split('; ') for line in lines]

# Writing to a CSV file
with open(output_csv_path, 'w', newline='', encoding='utf-8') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(csv_data)

output_csv_path

'csv/codigos_pa.csv'

### Checking if it's in the right format

In [2]:
import pandas as pd

df_codigos_pa = pd.read_csv('csv/codigos_pa.csv')

df_codigos_pa.head()

   SEQ      CAMPO TIPO E TAM                                          DESCRIÇÃO
0    1  PA_CODUNI   CHAR (7)  "Código do Estabelecimento no CNES (Cadastro N...
1    2  PA_GESTAO   CHAR (6)  "Código da Unidade da Federação7 (IBGE) + Códi...
2    3  PA_CONDIC   CHAR (2)  "Sigla do Tipo de Gestão no qual o Estado ou M...
3    4   PA_UFMUN   CHAR (6)  "Unidade da Federação + Código do Município on...
4    5   PA_REGCT   CHAR (4)                       "Código da Regra Contratual"

### Importing the PA file (PAGO2301) as an example and replace the code's description

In [3]:
df_to = pd.read_csv('csv/PAGO2301.csv')

df_to.head()

C:\Users\digui\AppData\Local\Temp\ipykernel_3448\157668525.py:1: DtypeWarning: Columns (20,22,29,30,31,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_to = pd.read_csv('csv/PAGO2301.csv')

   PA_CODUNI  PA_GESTAO PA_CONDIC  ...  PA_SRV_C  PA_INE  PA_NAT_JUR
0    2442620     520510        PG  ...       NaN     NaN        2062
1    2442620     520510        PG  ...       NaN     NaN        2062
2    2442620     520510        PG  ...       NaN     NaN        2062
3    2442620     520510        PG  ...       NaN     NaN        2062
4    2442620     520510        PG  ...       NaN     NaN        2062

[5 rows x 60 columns]

### Renaming the Column's names

In [4]:
# Create a mapping dictionary from CAMPO to DESCRIÇÃO
column_description_map = pd.Series(df_codigos_pa.DESCRIÇÃO.values, index=df_codigos_pa.CAMPO).to_dict()

# Rename the columns in pato2301_df based on the mapping
df_to_renamed = df_to.rename(columns=column_description_map)

# Display the first few rows of the renamed dataframe to confirm changes
df_to_renamed.head()

   "Código do Estabelecimento no CNES (Cadastro Nacional de Estabelecimentos de Saúde)6"  ...  "Código da Natureza Juridica11"
0                                            2442620                                      ...                             2062
1                                            2442620                                      ...                             2062
2                                            2442620                                      ...                             2062
3                                            2442620                                      ...                             2062
4                                            2442620                                      ...                             2062

[5 rows x 60 columns]

In [5]:
# 41; PA_QTDPRO; NUMERIC (11);"Quantidade Produzida (APRESENTADA)"
# 48; NU_VPA_TOT; NUMERIC (20,2) "Valor Unitário do Procedimento da Tabela VPA"

In [6]:
# Find columns named NaN and rename them
nan_columns = df_to_renamed.columns[df_to_renamed.columns.isnull()]

# Generate new names for NaN columns
new_names = ["Quantidade Produzida (APRESENTADA)", "Valor Unitário do Procedimento da Tabela VPA"]

# Rename NaN columns
for old_name, new_name in zip(nan_columns, new_names):
    df_to_renamed.rename(columns={old_name: new_name}, inplace=True)

In [7]:
df_to_renamed.head()

   "Código do Estabelecimento no CNES (Cadastro Nacional de Estabelecimentos de Saúde)6"  ...  "Código da Natureza Juridica11"
0                                            2442620                                      ...                             2062
1                                            2442620                                      ...                             2062
2                                            2442620                                      ...                             2062
3                                            2442620                                      ...                             2062
4                                            2442620                                      ...                             2062

[5 rows x 60 columns]